@font-face {
	font-family: 'Ostrich-Regular';
	src: url('../fonts/ostrich-regular.ttf');
}

@font-face {
	font-family: 'Ostrich-Black';
	src: url('../fonts/OstrichSans-Black.otf');
}

@font-face {
	font-family: 'Ostrich-Bold';
	src: url('../fonts/OstrichSans-Bold.otf');
}

@font-face {
	font-family: 'Ostrich-Heavy';
	src: url('../fonts/OstrichSans-Heavy.otf');
}

@font-face {
	font-family: 'Ostrich-Light';
	src: url('../fonts/OstrichSans-Light.otf');
}

@font-face {
	font-family: 'Ostrich-Medium';
	src: url('../fonts/OstrichSans-Medium.otf');
}

@font-face {
	font-family: 'Ostrich-DashedMedium';
	src: url('../fonts/OstrichSansDashed-Medium.otf');
}

@font-face {
	font-family: 'Ostrich-RoundedMedium';
	src: url('../fonts/OstrichSansRounded-Medium.otf');
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster_1.3.otf');
}