@font-face {
	font-family: 'Ostrich-Regular';
	src: url('../fonts/OstrichSans/ostrich-regular.ttf');
}

@font-face {
	font-family: 'Ostrich-Black';
	src: url('../fonts/OstrichSans/OstrichSans-Black.otf');
}

@font-face {
	font-family: 'Ostrich-Bold';
	src: url('../fonts/OstrichSans/OstrichSans-Bold.otf');
}

@font-face {
	font-family: 'Ostrich-Heavy';
	src: url('../fonts/OstrichSans/OstrichSans-Heavy.otf');
}

@font-face {
	font-family: 'Ostrich-Light';
	src: url('../fonts/OstrichSans/OstrichSans-Light.otf');
}

@font-face {
	font-family: 'Ostrich-Medium';
	src: url('../fonts/OstrichSans/OstrichSans-Medium.otf');
}

@font-face {
	font-family: 'Ostrich-DashedMedium';
	src: url('../fonts/OstrichSans/OstrichSansDashed-Medium.otf');
}

@font-face {
	font-family: 'Ostrich-RoundedMedium';
	src: url('../fonts/OstrichSansRounded-Medium.otf');
}
@font-face {
	font-family: 'Bullpen-3d';
	src: url('../fonts/Bullpen/bullpen 3d.ttf');
}
@font-face{
	font-family: 'Bullpen';
	src: url('../fonts/Bullpen/bullpen hv.ttf');
}
@font-face{
	font-family: 'BullpenIT';
	src: url('../fonts/Bullpen/bullpen hv it.ttf');
}
@font-face{
	font-family: 'LinLibertine';
	src: url('../fonts/LinLibertine_R.ttf');
}
@font-face{
	font-family: 'Espacio Novo';
	src: url('../fonts/Espacio Novo Medium.ttf');
}
@font-face{
	font-family: 'Menulis';
	src: url('../fonts/menulis.ttf');
}