[plat-control="settings-vc"] {
	.col-right{
		float:right;
	}
	.settings column{
		padding-left:.2em;
	}
	diagonal-lines{
		// background: repeating-linear-gradient(45deg,white,white 10px,black 10px,black 20px);
		background-color:blue;
	}
//settings style
	ul{
		position:center;
		list-style: none;
	}
	li{
		font-family: Ostrich-Black;
		font-size: 2em;
	}
	img{
		width:4.5em;
		vertical-align: middle;
		text-align: center;
		border-bottom: .2em solid dimgrey;
		border-right: .2em solid dimgray;
	}
	h1{
		padding-top:0em;
	}
	h4{
		margin:0em;
		padding-top:0.15em;
		font-family: Ostrich-Black;
	}
	.description{
		border-color: dimgrey;
		border-style: solid;
		border-width: .1em .2em .2em .1em;
	}
	.image-container{
		margin-top:0em;
		vertical-align: middle;
	}
	h2 {
		padding-top: 0;
	}
	
	li {
		font-style: bold;
		font-size: 3em;
	}
	ul {
		position: center;
		list-style: none;
	}
	settings {
		float: right;
	}
	title {
		border: 1px solid black;
		padding: 0.2em;
	}
}
