[plat-control="settings-vc"] {
	.col-right{
		float:right;
	}
	.settings column{
		padding-left:.2em;
	}
	diagonal-lines{
		// background: repeating-linear-gradient(45deg,white,white 10px,black 10px,black 20px);
		background-color:blue;
	}
//settings style
	ul{
		position:center;
		list-style: none;
	}
	li{
		font-family: Ostrich-Black;
		font-size: 2em;
	}
	img{
		height:4.5em;
	}
	h1{
		padding-top:0em;
	}
	h4{
		margin:0em;
		padding-top:0.15em;
		font-family: Ostrich-Black;
	}
	.description{
		border:.2em solid black;
	}
	.profile-container{
		margin-top:0em;
	}
}
