[plat-control="settings-vc"] {
    .template;
    font-family: 'Quicksand-Regular';
    #platui > #mixins > .scroll(y);
    .image {
        height: 10em;
        border-radius: 100%;
    }
	.col-right {
		float:right;
	}
	.settings-column {
		padding-left:2em;
	}
//about style
	.paragraph {
		//font-family: Menulis;
		border-radius:.2em;
		background-color: @very-light-blue;
		color:black;
		text-align: justify;
		padding:.5em;
	}
	.about-box{
		padding:1em;
	}
	.center-align{
		text-align: center;
		font-family: Copystruct-Regular;
	}

	h1{
		padding-top:0em;
	}
	h4{
		margin:0em;
		padding-top:0.15em;
	}
	.description{
		border-color: dimgrey;
		border-style: solid;
		border-width: .1em .2em .2em .1em;
	}
	.image-container{
		margin-top:0em;
		vertical-align: middle;
	}
	h2 {
		padding-top: 0;
	}

	settings {
		float: right;
	}
	title {
		border: 1px solid black;
		padding: 0.2em;
	}
	.row{
		margin-top:2em;
	}
}


