[plat-control="lists-vc"] {
/*	.row {
		border-top: 1px solid black;
	}
	.sub-row {
		display: flex;
	}
	.downbutton {
		background-color:transparent;
	}

	.push {
		height: 3em;
	}
	.footer {
		text-align: center;
		button {
			background-color: transparent;
			font-family: 'Ostrich-Light';
			border: 1px solid black;
			font-size: 2.5em;
			&:hover {
				background-color: fade(black, 10%);
			}
		}
	}
}	*/
}

