[plat-control="lists-vc"] {
    .template;
	#platui > #mixins > .scroll(y); 
	.container {
		.box{
			h1 {
				background-color: @lime;
				box-shadow: 5px 4px 4px @blue;
				padding-top: 0em;
			}
		}
	}
	ul{
		list-style: none;
	}
	button {
			background-color: transparent;
			margin-right: 1em;
			margin-top: 1em;
			border: 0em;
			float:center;
		}

	.row {
		.first-row {
			text-align: center;
		}
	}
	.easeDown{
		transition: all .3s  ease-in-out;
	}
	.first-col {
		float: center;
		h2 {
			text-align: center;
			padding-top:0;
		}
		.hiddeninputs {
			border: 1px solid black;
			margin-bottom: .75em;
		}
		option {
			float: right;
		}
	}
	.line{
		width:50%;
	}

	.pomo-row {
		text-align: left;
	}

	.time-row{
		text-align: left;
	}
	.sumPomo {
		background-color: white;
		color: @blue;
		border: 0;
		border-radius: 10%;
		box-shadow: 5px 4px 4px @blue;
	}

	.footer {
		text-align: center;
		button {
		width: 80%;
		background-color: @lime;
		box-shadow: 5px 4px 4px @blue;
		border-radius: 4em;
		font-size: 1em;
		color: white;
		margin-top: 1em;
		margin-bottom: 1em;
		//margin-right: 1em;
		border: 0;
			h1 {
				font-family: 'Quicksand-Regular';
				padding-top: 0em;
			}
		}
	}
}
