[plat-control="lists-vc"] {
	.row {
		border-top: 1px solid black;
		.first-col {
			float:left;
			text-align: center;
			margin-left: 2em;
		}
		.second-col {
			float: right;
			margin-right: 2em;
			.img {
				text-align: center;
				margin-top: 1em;
			}
		}
	}
	.push {
		height: 3em;
	}
	.footer {
		text-align: center;
		button {
			background-color: transparent;
			font-family: 'Ostrich-Light';
			border: 1px solid black;
			font-size: 2.5em;
		}
	}
}	

