[plat-control="tasks-vc"] {
/*****Styling for Tasks Options******/
	.row {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			.col {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				float: left;
				padding: 1em;
				font-family: 'Ostrich-Regular';
				text-align: center;
				&:hover {
					background-color: fade(black,10%);	
				}
			}
			.right-col {
				border-left: 1px solid black;
				&:hover {
				background-color: fade(black,10%);	
				}
			}
		}
		.second-row {
			border-top: 1px solid black;
		}
/*****Styling for Custom Button Options******/
	.button {
		background-color: transparent;
		border: 1px solid black;
		color: black;
		border-radius: 0%;
		margin: auto;
		&:hover {
			background-color: fade(black, 10%);
		}
	}
}
