[plat-control="tasks-vc"] {
	h1 {
		text-align: center;
		background-color: @lime;
		box-shadow: 5px 4px 4px darkgrey;
	}
	.row {
		//border-bottom: 1px solid black;
		.first-col {
			float: left;
			text-align: center;
			margin-left: 2em;
		}
		.second-col {
			float: right;
			margin-right: 2em;
			select {
				width: 10em;
				background-color: transparent;
				font-size: .5em;
			}
			.select-col {
				text-align: center;
				margin-top: 1em;
			}
		}
	}
	.button-group{
		text-align: center;
		padding-top: 2em;
	}
	.footer {
		text-align: center;
		margin-top: 3em;
		button {
			background-color: transparent;
			font-family: 'Ostrich-Light';
			//border: 1px solid black;
			font-size: 2.5em;
			background-color: @lime;
			box-shadow: 5px 4px 4px darkgrey;
		}
	}
	h1{
		padding-top:0em;
	}
}
	/*.row {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	select {
		float: left;
		font-size: 1.5em;
		background-color: transparent;
		width: 5em;
		//border: 0;
		text-align: center;
	}
}
	button {
		background-color: transparent;
		border: 1px solid black;
		border-radius: 0%;
		margin: 0 auto;
		&:hover {
		background-color: fade(black, 10%);
		}
	}
}
/*****Styling for the Entire Page****
background-color: pink;
color: white;

/*****Styling for Tasks Options******
	.row {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			.col {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				float: left;
				padding: 1em;
				font-family: 'Ostrich-Regular';
				text-align: center;
				&:hover {
					background-color: fade(black,10%);
				}
			}
			.right-col {
				border-left: 1px solid black;
				&:hover {
				background-color: fade(black,10%);
				}
			}
		}
		.second-row {
			border-top: 1px solid black;
		}
}


.push {
	margin-bottom: 50%
}

button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 0%;
	margin: 0 auto;
	//height: 100%;
	&:hover {
		background-color: fade(black, 10%);
	}
}*/
