[plat-control="home-vc"] {
	.template;
	/*.box {
		//box-shadow: 5px 4px 4px #0288D1;
		//background-color: #CDDC39;
	}*/
	h1 {
		font-size: 2.5em;
		padding-top: 0em;
	}
	h2 {
		font-size: 2em;
	}
		.row {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			margin-top: 1em;
			.col {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				float: left;
				border-radius: 15%;
				background-color: @lime;
				box-shadow: 5px 4px 4px @blue;
				//padding: 1em;
				font-family: 'Ostrich-Regular';
				text-align: center;
			}
			.start-block {
				margin-left: 1em;
				padding-bottom:1em;
				&:hover {
				background-color: fade(white,10%,.5);
				margin-top:.25em;
			}
			}
			.list-block {
				margin-left: 1em;
				margin-right: 1em;
				padding-bottom:1em;
				//border-left: 1px solid white;
				&:hover {
				background-color: fade(white,10%,.5);
				margin-top:.25em;
				}
			}
		}
}
